*
{
   box-sizing: border-box;
   padding:0; 
   margin: 0; 
}
.image {
  background-image: url(../images/spiral-image.png);
  background-size: cover;
  background-repeat:no-repeat;
   background-position:center;   
}
header
{
  display: flex;
  justify-content: space-between;
  padding: 40px;
  box-shadow: 0px 0px 70px 15px rgb(31, 28, 189);
}
.me-image
{
margin-left: 50px;
border-radius: 50px;
border-width:20px 20px 20px 20px;
border-style: groove;
border-color: rgb(61, 61, 104);
box-shadow:0px 0px 50px 10px rgb(11, 57, 113) ;
}
h1{
  text-align: start;
   font-family: Copperplate, Papyrus, fantasy;
   font-size:50px ;
   padding: 20px;
   color: rgb(19, 159, 169);
   text-shadow: -5px -5px 12px gold;
  
}
.hello-there{
  position: relative;
  margin: 90px;
  margin-right: 300px;
padding: 20px;
  display: flex;
}
body
{
display: flex;
flex-direction: column;  

}

nav
{
  display: flex;
  padding-right: 50px;
  padding-top: 80px;
  margin-top: 50px;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}

li
{
  display: inline-flex;
  
}
nav a
{
  flex: content;
  margin:2px;
  font-size: 100%;
  color: #13293d;
  background-color: #4f458e;
  border: 3px solid #13293d;
  border-radius:90px ;
  text-decoration: none; 
  padding:20px;
}
main
{
display: flex
flex 1 1 0; 
margin: 2%;
}

#about-me
{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
display: flex;
font-size: 45px;
padding-right: 30px;
color: crimson;

}
.above-sky{
  background-image: url(../images/above-sky.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center; 
  border:10px #13293d solid;
  padding: 20px;
 text-indent: 15px;
font-size: 20px;
opacity: 1.0;
color: rgb(60, 4, 15);
}
.project-display{
  position: relative;
  margin: 90px;
  margin-right: 300px;
padding: 20px;
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  
}


#projects 
{
  display: flex;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 60px;
  color: brown;
  padding:20px;
  margin-left: 650px;
  text-shadow: -5px -5px 12px rgb(2, 205, 12);

}
.main-project
{ border: 8px #13293d solid;
  width: 800px;
  height: 900px;
}
.main-project:hover, 
.prework-website:hover,
.sample-website:hover
{
  opacity: 0.7;
}

.main-title
{
  font-size:30px;
  color: cornsilk;
}

.prework-title
{
padding-left: 90px;
 }
 .prework-website,
 .sample-website
 {
  border:10px #13293d solid;
 }


.project-row
{
  display: flex;
  flex-direction: row;
}
.projects-title
{
 color: white;

}
.sample-title
{

padding-top: 30px;
padding-left: 40px;

}
.contact-info
{
  display: flex;
  justify-content: center;
}
.contact-info
{display: flex;
  flex: content;
justify-content: center;
}
.web
{
color: white;
font-size: 30px;
margin: 20px;
}


@media screen and (max-width:992px) 
{
header{display: block;}
body{font-size: 15px;}
h1{font-size: 25px;}
nav{font-size:20px;}
h2{font-size: 20px;}
.project-row{
  flex-direction: column;}
.main-project{
  height:300px;
  width: 400px;
}
}
  
@media screen and (max-width:768px) {
 header{display: flex;
flex-direction: column;}
 body{
  display: flex;
  flex-direction: column;
  margin-left: 0px; 
  font-size: 10px;
  padding: 0px;
  margin: 0px;
  flex-shrink: 23px 20px;
 }
 .hello-there{
  display: flex;
  flex-direction: column;
 ;
  }
  article h2 p{
    font-size: 12px;
    
  }
 .above-sky{
  display: flex;
 background-image: none;}
h1{font-size:20px;}
nav{font-size: 15px;}
h2{font-size: 15px; 
}
}
