*
{
   box-sizing: border-box;
   padding:0; 
   margin: 0; 
}
.image {
  background-image: url(../images/spiral-image.png);
  background-size: cover;
  background-repeat:no-repeat;
   background-position:center;   
}
header
{
  display: flex;
  justify-content: space-between;
  padding: 40px;
  box-shadow: 0px 0px 70px 15px rgb(31, 28, 189);
}
.me-image
{
margin-left: 50px;
border-radius: 50px;
border-width:20px 20px 20px 20px;
border-style: groove;
border-color: rgb(61, 61, 104);
box-shadow:0px 0px 50px 10px rgb(11, 57, 113) ;
}
h1{
  text-align: start;
   font-family: Copperplate, Papyrus, fantasy;
   font-size:50px ;
   padding: 20px;
   color: rgb(19, 159, 169);
   text-shadow: -5px -5px 12px gold;
  
}
.hello-there{
  margin: 70px;
  margin-right: 500px;
padding: 20px;
  display: flex;
  outline: #13293d dashed;
}
body
{
display: flex;
flex-direction: column;  

}

nav
{
  display: flex;
  padding-right: 50px;
  padding-top: 80px;
  margin-top: 50px;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}

li
{
  display: inline-flex;
  
}
a
{
  flex: content;
  margin:2px;
  font-size: 100%;
  color: #13293d;
  background-color: #4f458e;
  border: 3px solid #13293d;
  border-radius:90px ;
  text-decoration: none; 
  padding:20px;
}
main
{
display: flex
flex 1 1 0; 
margin: 2%;
outline: red dashed;
}

#about-me
{
display: flex;
font-size: 45px;
padding-right: 30px;

}
p
{
  padding: 20px;
 text-indent: 15px;
font-size: 15px;
}

address{
  display: flex;
  justify-content: center;
}



@media screen and (max-width:992px) 
{
header{display: block;}
h1{font-size: 25px;}
nav{font-size:20px;}
h2{font-size: 20px;}
}
  
@media screen and (max-width:768px) {
 header{display: block;}
h1{font-size:20px;}
nav{font-size: 15px;}
h2{font-size: 15px; 
}
}
